*{
  margin: 0;
  padding: 0;
}
.custom-Outer{
  margin-top: 20%;
  margin-bottom: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnOuter > button{
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}
.btnOuter > button>img{
  width: 50px;
  height: auto;
  cursor: pointer;
}
.imageContainer{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imageContainerInner{
  width: 30%;
  height: auto;
}
.imgtag{
  width: 300px;
  height: auto;
  border-radius: 5px;
}

.pageIndicators{
   width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #f2f2f2;
  margin: 2px;
  cursor: pointer;
}

.pageIndicators:hover{
  background-color: tomato;
}
.colorChanging{
  background-color: coral;
}

.paginationSect{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.middleFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textonchanging{
  text-align: center;
}

.rightbtn{
  padding-right: 10%;
}

.leftbtn{
  padding-left: 10%;
}

